<div id="main-slide" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
              
          <div class="carousel-item active">
              <img src="../../../assets/img/slide1.jpg" class="d-block w-100" alt="...">
             
              <div class="carousel-caption d-md-block">
                  
                    <h1>Felicitamos a todos los ganadores</h1>
                    <button type="button" routerLink="/resultados" class="btn btn-success">Conocelos</button>
              </div>
          </div>
         
        </div>
</div>
<div class="container mt-5 mb-5">
        <div class="row">
            
            
            <div class="col-md-3 ">
                    
            </div>

            <div class="col-md -6">
                 
                   
                    
            </div>
             
            <div class="col-md-3 ">
                    
            </div>
            
            
          </div>
</div>
    
    